
body{
    margin: 0px;
    background-color: #3A4663;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'spartan';
    src: url(fonts/LeagueSpartan-VariableFont_wght.ttf);
}



.MainCont{
    vertical-align: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #3A4663;
    font-family: 'spartan';
    height: 100vh;
    width: 25rem;
    max-width: 100%;
    
}

.keyboardCont{
    position: absolute;
    transform: translateY(90px);
    width: 20.4375rem;
    height: 26.25rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #242D44;
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(4, 4.5rem);
    align-items: center;
    justify-items: center;
    font-family: inherit;
    font-size: 40px;
}


.Regbutton{
    margin-left: 2.3rem;
    transform: translateY(10px);
    border-radius: 0.7125rem;
    background: #EAE3DC;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
    width: 3.75rem;
    height: 4rem;
    flex-shrink: 0;
    color: #434A59;
    text-align: center;
    font-family: 'spartan';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03331rem;
    border: none;
}

.Regbutton:hover{
    opacity: 0.6;
}

.sliderdiv{
    margin: 0;
    width: 4rem;
    transform: translateY(-1.9rem) translateX(16.5rem);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 3.7rem;
    height: 1.4rem;
    border-radius: 5px;
    background: #181F33;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    transform: translateY(-1.5px);
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: #181F33;
    border-radius: 5px;
}

.Resetbutton{
    transform: translateX(56px) translateY(-0.2rem);
    font-family: 'spartan';
    font-size: 2rem;
    font-weight: 700;
    color: white;
    width: 8.3125rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 0.5125rem;
    background: #647198;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
    border: none;
}

.Resetbutton:hover{
    opacity: 0.6;
}

.Equalbutton {
    transform: translateX(130px) translateY(-0.3rem);
    font-family: 'spartan';
    font-size: 2rem;
    font-weight: 700;
    color: white;
    width: 8.3125rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 0.5125rem;
    background: #D03F2F;
    box-shadow: 0px -4px 0px 0px #93261A inset;
    border: none;
}

.Equalbutton:hover{
    opacity: 0.6;
}

.Delbutton{
    transform: translateX(17px) translateY(10px);
    font-family: 'spartan';
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    width: 3.75rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 0.7125rem;
    background: #647198;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
    border: none;
}

.Delbutton:hover{
    opacity: 0.6;
}

.DisplayCont{
    position: absolute;
    transform: translateY(-185px);
    width: 20.4375rem;
    height: 6rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #181F33;
    font-family: 'spartan';
}

.result {
        margin: 0%;
        transform: translateY(-0.4rem) translateX(-25px);
        color: #FFF;
        text-align: right;
        font-family: 'spartan';
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.04169rem;
}

.lastNum{
    margin: 0%;
    transform: translateY(-0.8rem) translateX(-25px);
    color: grey;
    text-align: right;
    font-family: 'spartan';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.04169rem;
}


.calc{
    margin: 0;
    width: 5rem;
    margin: 0%;
    font-family: 'spartan';
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    transform: translateY(-130px) translateX(-1px);
}

.theme{
    position: absolute;
    font-family: 'spartan';
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    transform: translateY(-162px) translateX(210px);
}

.themecount{
    margin: 0;
    position: absolute;
    font-family: 'spartan';
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transform: translateY(-173px) translateX(270px);
    letter-spacing: 0.3rem;
}

.rangetheme{
    height: 20px;
    background: #242d44;
    border-radius: 13px;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    margin: 0px;
    width: 64px;
    margin-top: 10px;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

.operator {
    margin-left: 2.3rem;
    transform: translateY(10px);
    border-radius: 0.7125rem;
    background: #EAE3DC;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
    width: 3.75rem;
    height: 4rem;
    flex-shrink: 0;
    color: #434A59;
    text-align: center;
    font-family: 'spartan';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03331rem;
    border: none;
}

.operator:hover{
    opacity: 0.6;
}

.dotbutton{
    margin-left: 2.3rem;
    transform: translateY(10px);
    border-radius: 0.7125rem;
    background: #EAE3DC;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
    width: 3.75rem;
    height: 4rem;
    flex-shrink: 0;
    color: #434A59;
    text-align: center;
    font-family: 'spartan';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03331rem;
    border: none;
}

.dotbutton:hover{
    opacity: 0.6;
}

.Zero{
    margin-left: 2.3rem;
    transform: translateY(10px);
    border-radius: 0.7125rem;
    background: #EAE3DC;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
    width: 3.75rem;
    height: 4rem;
    flex-shrink: 0;
    color: #434A59;
    text-align: center;
    font-family: 'spartan';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03331rem;
    border: none;
}

.Zero:hover{
    opacity: 0.6;
}



@media (min-width: 900px){

    .keyboardCont{
        transform: translateY(130px);
        width: 35rem;
        height: 33rem;
        grid-row-gap: 1rem;
        grid-column-gap: 4rem;
    }

    .Regbutton{
        transform: translateX(1.4rem) translateY(0.5rem);
        position: relative;
        width: 8rem;
        height: 4.6rem;
    }

    .Delbutton{
        width: 8rem;
        height: 4.6rem;
        transform: translateX(2.6rem)translateY(0.5rem);
    }

    .Resetbutton{
        width: 16rem;
        height: 6rem;
        transform: translateX(6.6rem) translateY(-0.5rem);
    }

    .Equalbutton{
        width: 16rem;
        height: 6rem;
        transform: translateX(15.5rem) translateY(-0.5rem);
    }

    .DisplayCont{
        transform: translateY(-14rem);
        width: 35rem;
        height: 7rem;
    }
    
    .calc{
        transform: translateY(-12rem);
        font-size: 4rem;
    }

    .theme{
        font-size: 1.2rem;
        transform: translateX(24.5rem) translateY(-15rem);
    }

    .themecount{
        font-size: 1.5rem;
        font-weight: bold;
        transform: translateX(29rem)translateY(-16rem);
        letter-spacing: 0.7rem;
    }

    .result{
        font-size: 4rem;
        transform: translateY(-0.7rem) translateX(-1.3rem);
    }

    .lastNum{
        font-size: 2rem;
    }

    .sliderdiv{
        transform: translateX(28.6rem) translateY(-3.2rem)
    }

    .slider{
        width: 6.2rem;
    }

    .operator{
        transform: translateX(1.5rem) translateY(0.4rem);
        width: 8rem;
        height: 4.6rem;
    }

    .dotbutton{
        transform: translateX(1.5rem) translateY(0.4rem);
        width: 8rem;
        height: 4.6rem;
    }

    .Zero{
        transform: translateX(1.5rem) translateY(0.4rem);
        width: 8rem;
        height: 4.6rem;
    }
}

